body {
    color: black;
    background: #F5F5F5;
    background-position: top left;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Benne', serif;
    
  }

h1,h2
{
   font-family: 'Benne', serif;
   color: black;
    text-align: center;
}
h3
{
   font-family: 'Benne', serif;
   color: black;
}  
  
  .nav {
    font-family: sans-serif;
  }
 
  p:hover {
  background-color: skyblue;
  font-family: 'Benne', serif;
  font-family: 'Crimson Text', serif;
}
.aegeon
{    
    color: slateblue;
}
.duke-solinus
{    
    color: darkgoldenrod;
}
.gaoelr
{    
    color: darkcyan;
}table{
    border-collapse: collapse;
    border-spacing: 0px;
    border-bottom: 1px,solid #006699;
    margin-bottom: 5%;
}
td,th{
    padding: 3px 10px;
    text-align: center;
}
th{
    font-weight: bold;
    color: #006699;
}
thead tr{
    border-bottom: 1px solid #006699;
}
tbody th{
    border-right: 1px solid #006699;
    text-align: right;
    border-left: 1px solid #006699;
}
td{
    background-color: #ffffcc;    
    border-right: 1px solid #006699;
    border-left: 1px solid #006699;
}
tr.even td{
   background-color: #E1FFE1; 
}
table.striped{
    border-collapse: collapse;
    border-spacing: 0px;
    border-bottom: 1px,solid #006699;
}
table.striped td, table.striped th{
    padding: 3px, 10px;
    text-align: center;
}
table.striped th{
    font-weight: bold;
    color:#006699;
    border-right: 1px solid #006699;
    text-align: right;
    border-left:1px solid #006699;
    border-top: 1px solid #006699;
}
table.striped thead tr{
    border-bottom: 1px,solid #006699;
}
table.striped thead th{
    border-right: 1px solid #006699;
    text-align: right;
}
table.striped td{
    background-color: #ffffcc;
    border-bottom: 1px solid #006699;
}
table.striped tr.even td{
    background-color: #E1FFE1;
}
.aegeon:hover {
    text-shadow: 2px 2px red;
    box-shadow: 2px 2px black;
}
.duke-solinus:hover {
      text-shadow: 2px 2px red;
      box-shadow: 3px 3px black;
}
.gaoelr:hover {
    text-shadow: 2px 2px red;
    box-shadow: 2px 2px black;
    }
/*nav bar in bonus page*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}